<div class="table-responsive">
    <div class="es-col-lg-12 col-lg-12">
        <h4>{{t "Overview"}}</h4><hr>
        <div class="es-col-lg-12 col-lg-12 table table-striped table-hover divrow">
            <div class="col-lg-2">{{t "Name"}}</div>
            {{#if name}}
                <div class="col-lg-10">{{name}}</div>
            {{else}}
                <div class="col-lg-10">{{assetName}}</div>
            {{/if}}
        </div>

        <div class="es-col-lg-12 col-lg-12 divrow">
            <div class="col-lg-2">{{t "Version"}}</div>
            <div class="col-lg-10">{{version}}</div>
        </div>
    </div>
    {{#if lifecycle}}
        <div class="es-col-lg-12 col-lg-12">
            <h4>Lifecycle</h4><hr>
            <div class="es-col-lg-12 col-lg-12 table table-striped table-hover divrow">
                <div class="col-lg-2">{{t "Name"}} :</div>

                <div class="col-lg-10">{{lifecycle}}</div>
            </div>

            <div class="es-col-lg-12 col-lg-12 divrow">
                <div class="col-lg-2">{{t "State"}} :</div>
                <div class="col-lg-10">{{lifecycleState}}</div>
            </div>
        </div>
    {{/if}}
    {{#if isDependentsPresent}}
        <div class="es-col-lg-12 col-lg-12">
            <h4>Associations</h4><hr>
            <div class="es-col-lg-12 col-lg-12 table table-striped table-hover divrow">
                {{#each dependencies}}
                    <div class="col-lg-2 ">{{t "Dependencies"}} :</div>
                    <div class="col-lg-10"><a class="dependencies-link" href="../../../assets/{{this.associationType}}/details/{{this.associationUUID}}">{{this.associationName}}</a></div>
                {{/each}}
            </div>

            <div class="es-col-lg-12 col-lg-12 divrow">
                {{#each dependents}}
                    <div class="col-lg-2">{{t "Dependents"}} :</div>
                    <div class="col-lg-10"><a class="dependencies-link" href="../../../assets/{{this.associationType}}/details/{{this.associationUUID}}">{{this.associationName}}</a></div>
                {{/each}}
            </div>
        </div>
    {{/if}}

</div>
