<!--
  Asset utilization icons if the user has subscribed to this asset
-->

<div class="action-container right float-right" style="display: none;">
    {{#if assets.isSubscribed}}
        <a id="btn-add-gadget" class="btn disabled" href="#modal-add-gadget"
           data-toggle="modal"
           data-aid="{{assets.id}}" data-type="{{assets.type}}"> {{>processed-asset-text}}</a>
    {{else}}

        {{#if cuser.username}}
            <a id="btn-view-diff" class="blue-button margin-left float-left" href="#modal-view-difft"
               data-toggle="modal"
               data-aid="{{assets.id}}"
               data-type="{{assets.type}}"><i class="fa fa-files-o"></i> {{t "View Diff"}}</a>

            <a id="btn-view-diff" class="blue-button margin-left float-left" href="#modal-view-difft"
               data-toggle="modal"
               data-aid="{{assets.id}}"
               data-type="{{assets.type}}"><i class="fa fa-link"></i> {{t "Dependency Graph"}}</a>

            <a id="btn-add-gadget" class="blue-button margin-left float-left" href="#modal-add-gadget"
               data-toggle="modal"
               data-aid="{{assets.id}}"
               data-type="{{assets.type}}"><i class="fa fa-bookmark-o"></i> {{>process-asset-text }}</a>
        {{else}}

            <a id="btn-add-gadget" class="blue-button margin-left float-left" href='{{url ""}}{{getLoginUrl .}}'
               data-toggle="modal"
               data-aid="{{assets.id}}" data-type="{{assets.type}}"> {{>process-asset-text }}</a>
        {{/if}}


    {{/if}}

</div>
