{{#each assets}}
        {{#attributes}}
        <div class="ctrl-wr-asset">
            <div class="itm-ast">
                <a class="ast-img" id="{{this.overview_name}}" href="{{tenantedUrl "/assets"}}/{{../type}}/details/{{../id}}" title="{{overview_name}}">
                                                         {{> assets-thumbnail ..}}
                </a>
                {{#if ../../showType}}<div class="ast-type-display">{{../../type}}</div>{{/if}}

                <div class="ast-content">
                    <div class="ast-title padding">
                        <a class="ast-name truncate" href="{{tenantedUrl "/assets"}}/{{../type}}/details/{{../id}}" title="{{../name}}">{{../name}}</a>
                        {{#if overview_provider}}
                            <span class="ast-auth" title="{{overview_provider}}">{{overview_provider}}</span>
                        {{/if}}
                        {{#if overview_version}}
                            <span class="ast-ver">{{t "V"}}{{overview_version}}</span>
                        {{/if}}
                    </div>
                    <div class="pull-left asset-rating-container">
                        <span class="asset-rating">
                            <div style="width:{{../ratingPx}}px"></div>
                        </span>
                    </div>
                    <div class="pull-right">
                        <div class="dropdown dropdown-asset-custom">

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {{/attributes}}
{{/each}}
