<h4 class="margin-none ">{{overview_name}}</h4>
<p class="grey padding-none margin-none">{{t "Version"}} {{overview_version}}</p>
<p class="light-blue padding-none margin-none">{{t "by"}} {{overview_provider}}</p>