<!--
   ~ Copyright (c) 2014, WSO2 Inc. (http://wso2.com) All Rights Reserved.
   ~
   ~ Licensed under the Apache License, Version 2.0 (the "License");
   ~ you may not use this file except in compliance with the License.
   ~ You may obtain a copy of the License at
   ~
   ~ http://www.apache.org/licenses/LICENSE-2.0
   ~
   ~ Unless required by applicable law or agreed to in writing, software
   ~ distributed under the License is distributed on an "AS IS" BASIS,
   ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   ~ See the License for the specific language governing permissions and
   ~ limitations under the License.
   -->
<!-- secondary header - app bar -->
<div id="nav" class="row wr-app-bar">
    <div class="col-md-12 wr-action-container">
        <div class="wr-asset-type-switcher">
            <div class="ctrl-asset-type-switcher">
                <div class="left-menu">
                    <nav class="navigation">
                        <a href='{{tenantedUrl ""}}/pages/top-assets' class="active home">
                            <span class="icon"><i class="fw fw-store"></i></span> <span class="left-menu-item">ALL</span>
                        </a>
                        {{#with navigationBar}}
                            {{#each types}}
                                <a href='{{tenantedUrl ""}}{{this.listingUrl}}' class="purple">
                                    <span class="icon"><i class="{{ui.icon}}"></i></span> <span class="left-menu-item">{{singularLabel}}</span>
                                </a>
                            {{/each}}
                        {{/with}}
                    </nav>
                    <div class="tags-wrapper">
                        <div class="tag-title"> Tags </div>
                        <div class="tag-content">
                            <label>Business</label>
                            <label>Comics</label>
                            <label>Communication</label>
                            <label>Education</label>
                            <label>Entertainment</label>
                            <label>Finance</label>
                            <label>Health &amp; Fitness</label>
                            <label>Media &amp; Video</label>
                            <label>Medical</label>
                            <label>Music &amp; Audio</label>
                            <label>Shopping</label>
                            <label>Social</label>
                            <label>Sports</label>
                            <label>Travel &amp; Local</label>
                            <label>Widgets</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search">
            {{>search .}}
            <a href="{{url ""}}/pages/advanced-search" class="pull-left advance-search-btn" title="Advanced Search - All Assets"><span class="fa fa-cog advanced-search-icons"></span><span class="advanced-search-text">Search All Assets</span></a>
        </div>
        <!--search--->
    </div>
    {{#unless isUserDomainAndUrlDomainDifferent}}
        <div class="site-wide-menu">
            <div class="inline-block margin-top-sm">
                {{#hasAppPermission . key="APP_MYITEMS" username=cuser.username tenantId=cuser.tenantId}}
                    <a href="{{tenantedUrl "/pages/my-items"}}" class="bookmark-link" title="{{t "My bookmarks "}}"><span class="bookmark-link-text">{{t "My bookmarks "}}</span><i class="fw fw-bookmark fw-inverse fw-lg bookmark-link-icon"></i></a>
                {{/hasAppPermission}}
            </div>
        </div>
    {{/unless}}

    <div class="col-md-12 category-wrapper">
        {{#if assetCategoryDetails.hasCategories}}
            <div class="col-xs-1 col-sm-2 col-md-1 col-lg-1 left-col"></div>
            <div class="col-xs-10 col-sm-8 col-md-4 col-lg-10">
                <div class="category padding-top">
                    <a href="#" class="ico-filter ctrl-filter-category dropdown-toggle" data-toggle="dropdown" aria-expanded="true"  id="categoryDropDown" title="All Categories">
                        {{#if assetCategoryDetails.selectedCategory}}
                            {{assetCategoryDetails.selectedCategory}}
                        {{else}}
                            <span>All Categories</span>
                        {{/if}}
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        {{#if assetCategoryDetails.selectedCategory}}
                            <li><a tabindex="-1" href="#">All Categories</a></li>
                        {{/if}}
                        {{#each assetCategoryDetails.values}}
                            <li><a tabindex="-1" href="#">{{this}}</a></li>
                        {{/each}}
                    </ul>
                </div></div>
        {{/if}}
    </div>
</div>
<!-- secondary header - app bar -->
{{> action-bar .}}