<!--
   ~ Copyright (c) 2014, WSO2 Inc. (http://wso2.com) All Rights Reserved.
   ~
   ~ Licensed under the Apache License, Version 2.0 (the "License");
   ~ you may not use this file except in compliance with the License.
   ~ You may obtain a copy of the License at
   ~
   ~ http://www.apache.org/licenses/LICENSE-2.0
   ~
   ~ Unless required by applicable law or agreed to in writing, software
   ~ distributed under the License is distributed on an "AS IS" BASIS,
   ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   ~ See the License for the specific language governing permissions and
   ~ limitations under the License.
   -->
<!-- secondary header - app bar -->
<div id="nav" class="row wr-app-bar">
    <div class="col-md-12 wr-action-container">
        <div class="wr-asset-type-switcher">
            <div class="ctrl-asset-type-switcher">
                <div class="left-menu">
                    <nav class="navigation">
                        <a href='{{tenantedUrl ""}}/pages/top-assets' class="{{#if navigationBar.landingPage}} active home top-item {{else}} home all-item  {{/if}}">
                            <span class="icon"><i class="fw fw-store"></i></span> <span class="left-menu-item">ALL</span>
                        </a>
                        {{#with navigationBar}}
                            {{#each types}}
                                <a href='{{tenantedUrl ""}}{{this.listingUrl}}' class="{{ui.iconColor}} {{this.style}}">
                                    <span class="icon"><i class="{{ui.icon}}"></i></span> <span class="left-menu-item">{{singularLabel}}</span>
                                </a>
                            {{/each}}
                        {{/with}}
                    </nav>
                    {{#if tags}}
                        <div class="tags-wrapper">
                            <div class="tag-title"> Tags </div>
                            <div class="tag-content">
                                {{#each tags}}
                                    {{#if this.selected}}
                                        {{#if ../../assetCategoryDetails.hasCategories}}
                                            <a href='{{tenantedUrl ""}}{{this.searchPage}}?q="category":"{{../../assetCategoryDetails.selectedCategory}}","tags":"{{this.value}}"'><label class = "text-muted" >{{this.value}}</label></a>
                                        {{else}}
                                            <a href='{{tenantedUrl ""}}{{this.searchPage}}?q="tags":"{{this.value}}"'><label class = "text-muted" >{{this.value}}</label></a>
                                        {{/if}}
                                    {{else}}

                                        {{#if ../../assetCategoryDetails.hasCategories}}
                                            <a href='{{tenantedUrl ""}}{{this.searchPage}}?q="category":"{{../../../assetCategoryDetails.selectedCategory}}","tags":"{{this.value}}"'><label>{{this.value}}</label></a>
                                        {{else}}
                                            <a href='{{tenantedUrl ""}}{{this.searchPage}}?q="tags":"{{this.value}}"'><label>{{this.value}}</label></a>
                                        {{/if}}
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="input-group input-wrap">
            {{#if rxt.pluralLabel}}
                <input  id="search"  type="text" class="form-control" placeholder="Search in {{rxt.pluralLabel}}">
            {{else}}
                <input  id="search"  type="text" class="form-control" placeholder="Search in all asset types">
            {{/if}}
            <div class="input-group-btn">
                <button class="btn btn-default wrap-input-right" type="button" title="Search" id="search-button" >
                    <i class="fw fw-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="col-sm-3 col-md-5 col-lg-3 top-menu-right-custom right">
            <div>
                {{#hasAppPermission . key="APP_MYITEMS" username=cuser.username tenantId=cuser.tenantId}}
                    <a href="{{url "/pages/my-items"}}" class="bookmark-link" style="display: none;">{{t "My bookmarks "}}<i class="fw fw-store fw-inverse fw-lg"></i></a>
                {{/hasAppPermission}}
                 <ul class="nav navbar-nav navbar-right">
                    {{#if isSidebarEnabled}}
                        <li>
                            {{#hasAppPermission . key="GREG_COMMUNITY_FEATURES" username=cuser.username tenantId=cuser.tenantId}}
                                <a href="javascript:void(0)" onclick="toggleSidePanel('options',this)" class="cu-btn wr-side-panel-toggle-btn">
                                <span class="fw-stack-md">
                                    <i class="fw fw-left-arrow fw-stack-1-5x"></i>
                                </span>
                                    Options
                                </a>
                            {{/hasAppPermission}}
                        </li>
                    {{/if}}
                    {{#if isNotificationbarEnabled}}
                        <li>
                            <a href="javascript:void(0)" onclick="toggleSidePanel('notifications',this)"  class="cu-btn wr-side-panel-toggle-btn wr-notification-toggle-btn">
                                <span class="fw-stack-md">
                                    <i class="fw fw-bell fw-stack-1-5x"></i>
                                </span>
                                <span class="wr-notification-bubble" id="notificationCount" >{{notificationsCount.count}}</span>
                            </a>

                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- secondary header - app bar -->
{{> action-bar .}}
{{#if assetCategoryDetails.hasCategories}}
    <div class="col-md-12 category-wrapper">
        {{#if assetCategoryDetails.hasCategories}}
            <div class="col-xs-1 col-sm-2 col-md-1 col-lg-1 left-col"></div>
            <div class="col-xs-10 col-sm-8 col-md-4 col-lg-10">
                <div class="category padding-top">
                    <a href="#" class="ico-filter ctrl-filter-category dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="true" id="categoryDropDown" title="All Categories">
                        {{#if assetCategoryDetails.selectedCategory}}
                            {{assetCategoryDetails.selectedCategory}}
                        {{else}}
                            <span>All Categories</span>
                        {{/if}}
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <input type="hidden" name="selectedTag" id="selectedTag" value="{{selectedTag.value}}">
                        {{#if assetCategoryDetails.selectedCategory}}
                            <li><a tabindex="-1" href="#">All Categories</a></li>
                        {{/if}}
                        {{#each assetCategoryDetails.values}}
                            <li><a tabindex="-1" href="#">{{this}}</a></li>
                        {{/each}}
                    </ul>
                    {{#if selectedTag.value}}
                        <div class="tags-breadcrumb">
                            <a class="tag-label"
                               href=' {{tenantedUrl ""}}{{selectedTag.url}}?q="category":"{{../assetCategoryDetails.selectedCategory}}"'>
                                {{selectedTag.value}} <span>&times;</span>
                            </a>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}
    </div>
{{/if}}
