<div id='social-button-div'>
    <a href='{{socialSites.facebook.href}}'><img class='social-button' src='{{url ""}}/themes/store/img/facebook.png' /></a>
    <a href='{{socialSites.twitter.href}}'><img class='social-button' src='{{url ""}}/themes/store/img/twitter.png' /></a>
    <a href='{{socialSites.gplus.href}}'><img class='social-button' src='{{url ""}}/themes/store/img/google.png' /></a>
    <a href='{{socialSites.diggit.href}}'><img class='social-button' src='{{url ""}}/themes/store/img/diggit.png' /></a>
</div>