<div class="tag-title"> Tags</div>
<div id="tag-container" class="tag-content">
    {{#if appliedTags }}
        {{#each appliedTags}}
            {{#if ../../assetCategoryDetails.hasCategories}}
                <a href='{{tenantedUrl ""}}/assets/{{ ../../assets/type}}/list?q="category":"{{../../assetCategoryDetails.selectedCategory}}","tags":"{{this}}"'>
                    <span class="es-applied-tag text-muted">{{this}}</span>
                </a>
            {{else}}
                <a href='{{tenantedUrl ""}}/assets/{{ ../../assets/type}}/list?q="tags":"{{this}}"'>
                    <span class="es-applied-tag text-muted">{{this}}</span>
                </a>
            {{/if}}
        {{/each}}
    {{else}}
        {{#each tags}}
            {{#if this.selected}}
                {{#if ../../assetCategoryDetails.hasCategories}}
                    <a href='{{tenantedUrl ""}}{{this.searchPage}}?q="category":"{{../../assetCategoryDetails.selectedCategory}}","tags":"{{this.value}}"'><span
                            class="es-remove-tag text-muted">{{this.value}}</span><i class="es-remove-tag fw fw-cancel"></i></a>
                {{else}}
                    <a href='{{tenantedUrl ""}}{{this.searchPage}}?q="tags":"{{this.value}}"'><span
                            class="es-remove-tag text-muted">{{this.value}}</span><i class="es-remove-tag  fw fw-cancel"></i></a>
                {{/if}}
            {{else}}
                {{#if ../../assetCategoryDetails.hasCategories}}
                    <a href='{{tenantedUrl ""}}{{this.searchPage}}?q="category":"{{../../../assetCategoryDetails.selectedCategory}}","tags":"{{this.value}}"'>
                        <span class='es-add-tag' data-selected-tag='{{this.value}}'>{{this.value}}</span>
                    </a>
                {{else}}
                    <a href='{{tenantedUrl ""}}{{this.searchPage}}?q="tags":"{{this.value}}"'>
                        <span class='es-add-tag' data-selected-tag='{{this.value}}'>{{this.value}}</span>
                    </a>
                {{/if}}
            {{/if}}
        {{/each}}
    {{/if}}
</div>
<div id="tags-collapse" class="tags-collapse">
    <p class="small">
        <span id="tags-collapse-text" class="tags-collapse-span">Show all tags&nbsp;&nbsp;</span>
                    <span class="icon">
                        <i id="tags-collapse-icon" class="fw fw-down"></i>
                    </span>
    </p>
</div>