{{#with assets}}
    <!--Show only there are multiple versions-->
    {{#if ../assetVersions}}
        <div id="diff-view-version">
            <a class="btn btn-default input-group-addon" id="diff-view-button"
               href="{{tenantedUrl ""}}/pages/diff?type={{type}}&path={{../../assetVersions.0.path}},{{../path}}"
               target="_blank"><i class="fw fw-compare"></i>{{t " Compare with "}}
                <span data-selected_base_path="{{../../assetVersions.0.path}}"
                      class="text-info selected"> {{../../assetVersions.0.version}} </span>
            </a>
            {{#unless ../../single_version }}
                <div class="btn btn-default btn-lg input-group-addon with-dropdown">
                    <a type="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        {{#each ../../../assetVersions}}
                            <li><a target="_blank"
                                   href="{{tenantedUrl ""}}/pages/diff?type={{../../type}}&path={{this.path}},{{../path}}"
                                   style="color: inherit" class="btn hover" data-base_path="{{../../path}}"
                                   id="{{this.path}}">{{this.version}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            {{/unless}}
        </div>
    {{/if}}
{{/with}}