{{#if uniqueColor}}
    <div class="ast-img setbgcolor" style="background: {{uniqueColor}}" data-toggle="tooltip" title="{{type}}">
    <span class="ast-type-icon">
      <i class="{{icon}} fw-lg"></i>
      </span>
        <div class="ast-name-icon">{{nameToChar}}{{../rxt}}</div>
    </div>
{{else}}
    <div class="ast-img setbgcolor" style="background: {{assets.uniqueColor}}" data-toggle="tooltip" title="{{type}}">
    <span class="ast-type-icon">
      <i class="{{assets.icon}} fw-lg"></i>
      </span>
        <div class="ast-name-icon">{{assets.nameToChar}}</div>
    </div>
{{/if}}