{{#each notes}}
    <div class="wr-panel-note collapsed" role="tab" data-toggle="collapse" data-parent="#accordion"
        {{#if_equal attributes.overview_status "Open"}}
         href="#{{id}}"
        {{/if_equal}}
         aria-expanded="false" aria-controls="{{id}}" id="note-{{id}}" data-path="{{path}}">
        {{> notes-note .}}
    </div>
    <div id="{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{id}}">

        <!--<a href="#" class="more-link">More ...</a>-->

        <div class="wr-panel-sub-note" id="subcomment-container">
            <!--Sub comments go here -->
        </div>

        <div class="well reply-note-text-container" id="note-thread-textarea-{{id}}">
            <textarea placeholder="reply..." id="{{id}}reply" data-path="{{path}}"></textarea>
            <div class="error" id="{{id}}error">Pleas enter a reply</div>
            <a href="#" class="cu-btn-inner reply-note" data-path="{{path}}" data-id="{{id}}">
                <span class="fw-stack">
                    <i class="fw fw-ring fw-stack-2x"></i>
                    <i class="fw fw-message fw-stack-1x"></i>
                </span>
                {{t "Reply"}}
            </a>
        </div>

    </div>
{{/each}}
