<table class="wr-configurations-table">
    <tr>
        <th></th>
        <th>{{t "Email"}}</th>
        <th>{{t "Publisher"}}</th>
    </tr>
    {{#if assets.lifecycle}}
        <tr>
            <td>{{t "Lifecycle State Change"}}</td>
            <td>
                <label class="wr-input-control switch">
                    <input type="checkbox" id="lifeCycleStateChangedEmail"
                           {{#if subscriptions.PublisherLifeCycleStateChanged.email.checked}}checked{{/if}}
                           data-id="{{subscriptions.PublisherLifeCycleStateChanged.email.id}}"
                           data-method='PublisherLifeCycleStateChanged' data-type="email">
                    <span class="helper"></span>
                </label>
            </td>
            <td>
                <label class="wr-input-control switch">
                    <input type="checkbox" id="lifeCycleStateChangedWork"
                           {{#if subscriptions.PublisherLifeCycleStateChanged.work.checked}}checked{{/if}}
                           data-id="{{subscriptions.PublisherLifeCycleStateChanged.work.id}}"
                           data-method='PublisherLifeCycleStateChanged' data-type="work">
                    <span class="helper"></span>
                </label>
            </td>
        </tr>
    {{/if}}
    <tr>
        <td>{{t "Information Update"}}</td>
        <td>
            <label class="wr-input-control switch">
                <input type="checkbox" id="resourceUpdatedEmail"
                       {{#if subscriptions.PublisherResourceUpdated.email.checked}}checked{{/if}}
                       data-id="{{subscriptions.PublisherResourceUpdated.email.id}}"
                       data-method='PublisherResourceUpdated' data-type="email">
                <span class="helper"></span>
            </label>
        </td>
        <td>
            <label class="wr-input-control switch">
                <input type="checkbox" id="resourceUpdatedWork"
                       {{#if subscriptions.PublisherResourceUpdated.work.checked}}checked{{/if}}
                       data-id="{{subscriptions.PublisherResourceUpdated.work.id}}"
                       data-method='PublisherResourceUpdated' data-type="work">
                <span class="helper"></span>
            </label>
        </td>
    </tr>
    {{#if assets.lifecycle}}
        <tr>
            <td>{{t "Check Lifecycle Item"}}</td>
            <td>
                <label class="wr-input-control switch">
                    <input type="checkbox" id="checkListItemCheckedEmail"
                           {{#if subscriptions.PublisherCheckListItemChecked.email.checked}}checked{{/if}}
                           data-id="{{subscriptions.PublisherCheckListItemChecked.email.id}}"
                           data-method='PublisherCheckListItemChecked' data-type="email">
                    <span class="helper"></span>
                </label>
            </td>
            <td>
                <label class="wr-input-control switch">
                    <input type="checkbox" id="checkListItemCheckedWork"
                           {{#if subscriptions.PublisherCheckListItemChecked.work.checked}}checked{{/if}}
                           data-id="{{subscriptions.PublisherCheckListItemChecked.work.id}}"
                           data-method='PublisherCheckListItemChecked' data-type="work">
                    <span class="helper"></span>
                </label>
            </td>
        </tr>

        <tr>
            <td>{{t "UnCheck Lifecycle Item"}}</td>
            <td>
                <label class="wr-input-control switch">
                    <input type="checkbox" id="checkListItemUncheckedEmail"
                           {{#if subscriptions.PublisherCheckListItemUnchecked.email.checked}}checked{{/if}}
                           data-id="{{subscriptions.PublisherCheckListItemUnchecked.email.id}}"
                           data-method='PublisherCheckListItemUnchecked' data-type="email">
                    <span class="helper"></span>
                </label>
            </td>
            <td>
                <label class="wr-input-control switch">
                    <input type="checkbox" id="checkListItemUncheckedWork"
                           {{#if subscriptions.PublisherCheckListItemUnchecked.work.checked}}checked{{/if}}
                           data-id="{{subscriptions.PublisherCheckListItemUnchecked.work.id}}"
                           data-method='PublisherCheckListItemUnchecked' data-type="work">
                    <span class="helper"></span>
                </label>
            </td>
        </tr>
    {{/if}}
</table>