{{#with assets}}
    <!--Show only there are multiple versions-->
    {{#if ../assetVersions}}
    <span>
        <select class="select2 version-select" id="diff-view-version">
            {{#each ../../assetVersions}}
                <option data-base_path="{{../../path}}"
                        value="{{this.path}}">{{this.version}}</option>
            {{/each}}
        </select>
    </span>
    <span>
        <a class="btn btn-default btn-lg active pull-right" id="diff-view-button"
           href="{{url ""}}/pages/diff?type=wsdl&path={{../../assetVersions.0.path}},{{../path}}"
           target="_blank">Show Diff</a>
    </span>
    {{/if}}
{{/with}}