<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <h4>Overview</h4>
        </thead>
        <tbody>
            <tr>
                <td>Schema Name</td>
                <td>
                    {{schemaname}}
                </td>
            </tr>
            <tr>
                <td>Schema Version</td>
                <td>
                    {{version}}
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-hover">
        <thead>
        <h4>Lifecycle</h4>
        </thead>
        <tbody>
        <tr>
            <th>Name :</th>
            <td>{{lifecycle}}</td>
        </tr>
        <tr>
            <th>State :</th>
            <td>{{lifecycleState}}</td>
        </tr>
        </tbody>
    </table>
    <table class="table table-striped table-hover">
        <thead>
        <h4>Associations</h4>
        </thead>
        <tbody>
        <tr>
            <th>Dependencies :</th>
            {{#each dependencies}}
            <tr>
            <td><a href="../../../asts/{{this.associationType}}/details/{{this.associationUUID}}">{{this.associationName}}</td>
            </tr>
            {{/each}}
        </tr>
        <tr>
            <th>Dependents :</th>
            {{#each dependents}}
            <tr>
            <td><a href="../../../asts/{{this.associationType}}/details/{{this.associationUUID}}">{{this.associationName}}</td>
            </tr>
            {{/each}}
        </tr>
        </tbody>
    </table>
    <div id='schema-viewer'>
        <legend><h4>Schema</h4></legend>
        {{#if schemaContent}}
            <textarea id="schemacontent" name="schemacontent">{{../schemaContent}}</textarea>
        {{else}}
            <p>No Schema Content To Display</p>
        {{/if}}
    </div>

</div>