<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{> title}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{url "/themes/store/css/bootstrap.min.css"}}" rel="stylesheet">
    <link href="{{url "/themes/store/css/nanoscroller.css"}}" rel="stylesheet">
    <link href="{{url "/themes/store/css/custom.css"}}" rel="stylesheet">
    <link href="{{url "/themes/store/css/font-awesome.min.css"}}" rel="stylesheet">
    <link href="{{url "/themes/store/css/font-wso2.css"}}" rel="stylesheet">
    {{css}}

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="http://wso2.com/files/favicon.ico" type="image/x-icon" />


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{url "/themes/store/js/html5shiv.min.js"}}"></script>
    <script src="{{url "/themes/store/js/respond.min.js"}}"></script>
            <link rel="stylesheet" href="{{url "/themes/store/css/ie.css"}}" type="text/css">
    <![endif]-->

</head>

<body>
<div class="wrapper">
    <div class="container-fluid header-container">
        {{ include header}}
    </div>
    <div class="page-content-wrapper">
        {{include navigation}}

        <div class="container-fluid">

            <div id="taxonomy-expand-view" class="taxonomy-expand-view sidebar-wrapper sidebar-nav toggled nano" data-offset-bottom="40">
                <div class="nano-content">
                    <button type="button" class="btn btn-secondary pull-right btn-expand-taxonomy-toggle btn-taxonomy" id="contract-taxonomy" data-toggle="tooltip" data-placement="left" title="Contract Section">
                        <i class="fw fw-contract"></i>
                    </button>

                    <nav class="taxonomy"><!-- Dynamic Content --></nav>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wr-content padding-none">
                <div id="assets-container">
                    {{include body}}
                </div>
            </div>


        </div>
    </div>
</div>

{{>footer}}

<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!--  CSRF Protection -->
<script src='{{url ""}}/csrf.js' type="text/javascript"></script>

<script src="{{url "/themes/store/js/jquery-1.11.1.min.js"}}"></script>
<script src="{{url "/themes/store/js/jquery.nanoscroller-custom.min.js"}}"></script>
<script src="{{url "/themes/store/js/bootstrap.min.js"}}"></script>
<script src="{{url "/themes/store/js/async.min.js"}}"></script>
<script src="{{url "/themes/store/js/handlebars.js"}}"></script>
<script src="{{url "/themes/store/js/notify.min.js"}}"></script>
<script src="{{url "/themes/store/js/messages.js"}}"></script>
<script src="{{url "/themes/store/js/theme.js"}}"></script>
<script src="{{url "/themes/store/js/url.js"}}"></script>
{{js}}
{{code}}
<script src="{{url "/themes/store/js/caramel.handlebars.client.js"}}"></script>
<script src="{{url "/themes/store/js/caramel-client.js"}}"></script>

<script type="text/javascript">
    var affixOffset = 50;
    $( document ).ready(function() {
        $("[data-toggle=popover]").popover();

        if ($(document).height() - $(window).height() > affixOffset) {
            $(document).scroll(function () {
                if ($(document).scrollTop() >= ( affixOffset + 20)) {
                    $('#navigation-container').addClass("affix");
                } else {
                    $('#navigation-container').removeClass("affix");
                }
            });
        }
    });

</script>
</body>
</html>
