<a class="btn btn-default input-group-addon"
   href='{{tenantedUrl ""}}/pages/impact?path={{encodeURIComponent assets.path}}' target="_blank">
    <i class="fw fw-depend"></i>{{t " Show Dependencies"}}
</a>
{{#with assets}}
    <a class="btn btn-default input-group-addon"
       href='{{url ""}}/pages/wsdl-viewer?id={{id}}' target="_blank"><i class="fw fw-view"></i>
        {{t " Visualize"}}
    </a>
{{/with}}
