<div class="wrapper home">

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

    <form class="form-group" id="assetSearchForm" action="{{context}}/assets/restservice/list">

        <div class="form-group has-feedback form-search">
            <input type="text" name="query" id="inp_searchAsset" class="form-control" placeholder="Search asset by name...">
            <a href="javascript:void(0)" id="searchButton" class="form-control-feedback search" title="{{t "Search"}}">
                <i class="fw fw-search" aria-hidden="true"></i>
            </a>

            {{>search-options-popover .}}
            <a href="{{context}}/pages/advanced-search" class="form-control-feedback advance" id="advance-search"
               title="{{t "Advance Search"}}">
                <span>{{t "Advanced Search"}}</span>
            </a>
            <input type="hidden" name="sortby" value=""/>
            <input type="hidden" name="sort" value=""/>
        </div>
    </form>

<div class="page-header no-border">
    <h1>{{t "Add service"}}</h1>

    <p class="lead">{{t "Click 'Add' button to add new service"}}</p>
</div>

<div class="row">

{{#hasAssetPermission . key="ASSET_LIST" type="soapservice" username=cuser.username tenantId=cuser.tenantId}}
    <div class="col-md-6 col-lg-5">
        <div class="tile color1" data-click-event="steps">
            <div data-step="1">
                <h1>SOAP Services</h1>
                <div class="media">
                    <div class="media-left">
		   <span class="icons">
                                    <i class="tile-icon fw fw-soap"></i>
                                </span>
                    </div>
                    <div class="media-body">
                        <h2>
                            {{t "You can browse SOAP services "}}
                            {{#hasAssetPermission . key="ASSET_CREATE" type="soapservice" username=cuser.username tenantId=cuser.tenantId}}
                                {{t "and add them manually "}}
                            {{/hasAssetPermission}}
                            {{#hasAssetPermission . key="ASSET_CREATE" type="wsdl" username=cuser.username tenantId=cuser.tenantId}}
                                {{t "or"}}
                                {{t "automatically by importing a "}}<a
                                    href="{{context}}/assets/wsdl/create">WSDL</a> file.
                            {{/hasAssetPermission}}
                        </h2>
                    </div>
                </div>

                <div class="action-group">
                                <span class="actions">
                                    <a id="soap-services-btn" href="{{context}}/assets/soapservice/list" class="btn btn-default secondary">
                                        <span class="icon fw-stack">
                                            <i class="fw fw-view fw-stack-1x"></i>
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                        </span>
                                        Browse
                                    </a>
                                    {{#hasAssetPermission . key="ASSET_CREATE" type="soapservice" username=cuser.username tenantId=cuser.tenantId}}
                                        <a id="soap-services-btn-add" href="javascript:void(0)"
                                           class="btn btn-default primary"
                                           data-click-event="next">
                                        <span class="icon fw-stack">
                                            <i class="fw fw-add fw-stack-1x"></i>
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                        </span>
                                            Add
                                        </a>
                                    {{/hasAssetPermission}}
                                </span>
                </div>
            </div>
            <div data-step="2">
                <h1>Add SOAP Service</h1>

                <div class="action-group">
                    <div class="action-options" data-radio-group="soap-add-radio-group">
                        <div>
                            {{#hasAssetPermission . key="ASSET_CREATE" type="wsdl" username=cuser.username tenantId=cuser.tenantId}}
                                <label class="radio">
                                    <input id="soap-wsdl-radio" type="radio" name="soap-add"
                                           value="{{context}}/assets/wsdl/create">
                                    <span class="helper">{{t "Add a SOAP Service using a "}}<b>"{{t "WSDL"}}"</b></span>
                                </label>
                            {{/hasAssetPermission}}
                        </div>
                        <div>
                            <label class="radio">
                                <input id="soap-manual-radio" type="radio" name="soap-add"
                                       value="{{context}}/assets/soapservice/create" checked>
                                <span class="helper">{{t "Add a SOAP Service manually"}}</span>
                            </label>
                        </div>
                    </div>
                                <span class="actions">
                                    <a href="javascript:void(0)" class="btn btn-default tertiary icon-only"
                                       data-click-event="prev">
                                        <span class="icon fw-stack">
                                            <i class="fw fw-left-arrow-2 fw-stack-1x"></i>
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                        </span>
                                    </a>
                                    <a id="soap-services-btn-continue" href="javascript:void(0)" class="btn btn-default primary"
                                       data-click-event="continue" data-url="soap-add-radio-group">
                                        Continue
                                    </a>
                                </span>
                </div>
            </div>
        </div>
    </div>
{{/hasAssetPermission}}

{{#hasAssetPermission . key="ASSET_LIST" type="restservice" username=cuser.username tenantId=cuser.tenantId}}
    <div class="col-md-6 col-lg-5">
        <div class="tile color2" data-click-event="steps">
            <div data-step="1">
                <h1>{{t "REST Services"}}</h1>
                <div class="media">
                    <div class="media-left">
		    <span class="icons">
                                    <i class="tile-icon fw fw-rest-service"></i>
                          </span>
                    </div>
                    <div class="media-body">
                        <h2>
                            {{t "You can browse REST services "}}
                            {{#hasAssetPermission . key="ASSET_CREATE" type="restservice" username=cuser.username tenantId=cuser.tenantId}}
                                {{t "and add them manually "}}
                            {{/hasAssetPermission}}
                            {{#hasAssetPermission . key="ASSET_CREATE" type="wadl" username=cuser.username tenantId=cuser.tenantId}}
                                {{t "or"}}
                                {{t "automatically by importing a "}} <a
                                    href="{{context}}/assets/wadl/create">{{t "WADL"}}</a>
                                {{t "file "}}
                            {{/hasAssetPermission}}
                            {{#hasAssetPermission . key="ASSET_CREATE" type="swagger" username=cuser.username tenantId=cuser.tenantId}}
                                {{t "or"}}
                                {{t "automatically by importing a "}} <a
                                    href="{{context}}/assets/swagger/create">{{t "Swagger"}}</a>
                                {{t "file."}}
                            {{/hasAssetPermission}}
                        </h2>
                    </div>
                </div>

                <div class="action-group">

                                <span class="actions">
                                    <a  id="rest-services-btn" href="{{context}}/assets/restservice/list" class="btn btn-default secondary">
                                        <span class="icon fw-stack">
                                            <i class="fw fw-view fw-stack-1x"></i>
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                        </span>
                                        Browse
                                    </a>
                                    {{#hasAssetPermission . key="ASSET_CREATE" type="restservice" username=cuser.username tenantId=cuser.tenantId}}
                                        <a id="rest-services-btn-add" href="javascript:void(0)"
                                           class="btn btn-default primary"
                                           data-click-event="next">
                                        <span class="icon fw-stack">
                                            <i class="fw fw-add fw-stack-1x"></i>
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                        </span>
                                            Add
                                        </a>
                                    {{/hasAssetPermission}}
                                </span>
                </div>
            </div>
            <div data-step="2">
                <h1>{{t "Add REST Service"}}</h1>

                <div class="action-group">
                    <div class="action-options" data-radio-group="rest-add-radio-group">
                        <div>
                            {{#hasAssetPermission . key="ASSET_CREATE" type="wadl" username=cuser.username tenantId=cuser.tenantId}}
                                <label class="radio">
                                    <input id="rest-wadl-radio" type="radio" name="rest-add"
                                           value="{{context}}/assets/wadl/create">
                                    <span class="helper">{{t "Add a REST Service using a"}} <b>"{{t "WADL"}}"</b></span>
                                </label>
                            {{/hasAssetPermission}}
                        </div>
                        <div>
                            {{#hasAssetPermission . key="ASSET_CREATE" type="swagger" username=cuser.username tenantId=cuser.tenantId}}
                                <label class="radio">
                                    <input id="rest-swagger-radio" type="radio" name="rest-add"
                                           value="{{context}}/assets/swagger/create">
                                    <span class="helper">{{t "Add a REST Service using a"}} <b>"{{t "Swagger"}}
                                        "</b></span>
                                </label>
                            {{/hasAssetPermission}}
                        </div>
                        <div>
                            <label class="radio">
                                <input id="rest-manual-radio" type="radio" name="rest-add"
                                       value="{{context}}/assets/restservice/create" checked>
                                <span class="helper">{{t "Add a REST Service manually"}}</span>
                            </label>
                        </div>
                    </div>
                                <span class="actions">
                                    <a href="javascript:void(0)" class="btn btn-default tertiary icon-only"
                                       data-click-event="prev">
                                        <span class="icon fw-stack">
                                            <i class="fw fw-left-arrow-2 fw-stack-1x"></i>
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                        </span>
                                    </a>
                                    <a id="rest-services-btn-continue" href="javascript:void(0)" class="btn btn-default primary"
                                       data-click-event="continue" data-url="rest-add-radio-group">
                                        {{t "Continue"}}
                                    </a>
                                </span>
                </div>
            </div>
        </div>
    </div>
{{/hasAssetPermission}}
</div>

<hr>

<div class="page-header no-border">
    <h1>{{t "Other Assets"}}</h1>

    <p class="lead">{{t "Browse available assets of below types"}}</p>
</div>

<!-- content -->
<div class="ast-container" id="list_assets_table_body">

    <div class="clearfix">
        <div class="row">

            {{#each assets}}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 {{type}}">
                    <div class="tile color0" data-click-event="steps">
                        <div data-step="1">
                            <h1 class="asset-title">{{details.pluralLabel}}</h1>

                            <div class="action-group">
                                <span class="icons">
                                    <i class="tile-icon fw {{icon}}"></i>
                                </span>

                            </div>
			                <span class="actions-right">
                                    <a href="{{url ""}}/assets/{{type}}/list" class="btn btn-default secondary">
                                        <span class="icon fw-stack">
                                            <i class="fw fw-view fw-stack-1x"></i>
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                        </span>
                                       {{t "Browse"}}
                                    </a>
                                {{#hasAssetPermission . key="ASSET_CREATE" type=type username=../cuser.username tenantId=../cuser.tenantId}}
                                    <a id="{{details.pluralLabel}}-add" href="{{url ""}}/assets/{{type}}/create"
                                       class="btn btn-default primary">
                                        <span class="icon fw-stack">
                                            <i class="fw fw-add fw-stack-1x"></i>
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                        </span>
                                        {{t "Add"}}
                                    </a>
                                {{/hasAssetPermission}}
                            </span>
                        </div>

                    </div>
                </div>

            {{/each}}
        </div>
    </div>

</div>

</div>
</div>

</div>
