<!--<h1>Associations of </h1>-->

<div class="row">
    <div class="col-lg-8 col-centered">

        {{#hasAssetPermission . key="ASSET_CREATE" type=assets.type username=cuser.username tenantId=cuser.tenantId}}
        <div class="row wr-tile-buttons-list">
            <div class="col-lg-7">
                <h4>
                    <span class="fw-stack fw-lg">
                        <i class="fw fw-circle fw-stack-2x"></i>
                        <i class="fw fw-stack-1x fw-inverse fw-number">1</i>
                    </span> {{t "Select an association type"}}
                </h4>
                <div class="wr-input-control">
                    <ul class="tile-buttons" id='association-type-container'>
                        {{#each associationsTypes}}
                            <li data-association-type='{{key}}'><a id="{{key}}" href="#"><i
                                    class="fw {{value}} association-icon"></i>{{key}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div id="step2" class="col-lg-5 disabled-area">
                <h4>
                    <span class="fw-stack fw-lg">
                        <i class="fw fw-circle fw-stack-2x"></i>
                        <i class="fw fw-stack-1x fw-inverse fw-number">2</i>
                    </span> {{t "Select asset"}}
                </h4>
                <div class="wr-input-control">
                    <select class="select2 select-resource" disabled>
                        <!-- Dynamic content loads here -->
                    </select>
                </div>
                <div class="wr-input-control">
                    <a href="javascript:void(0)" class="cu-btn-inner inverse" id='addAssociation'>
                        <span class="fw-stack">
                            <i class="fw fw-ring fw-stack-2x"></i>
                            <i class="fw fw-add fw-stack-1x"></i>
                        </span> Add
                    </a>
                </div>
            </div>
        </div>
    {{/hasAssetPermission}}

        <div class="row wr-associations-list">
            <h4>{{t "Available associations for "}}{{assets.name}}</h4>
            <div class="col-lg-12">
                {{#if associations.results}}
                    {{#each associations.results}}
                        {{> association-entry .}}
                    {{/each}}
                {{else}}
                    <div class="emptyAssets-MsgDiv">
                        <p class="emptyAssets">We are sorry! we couldn't find any associations for this asset.</p>
                    </div>
                {{/if}}
            </div>

        </div>

    </div>
</div>