<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="/publisher/themes/default/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/publisher/themes/default/css/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="/publisher/extensions/app/greg-publisher-defaults/themes/default/css/select2.min.css" rel="stylesheet"/>
    <link href="/publisher/themes/default/css/custom.css" rel="stylesheet">
    <link href="/publisher/themes/default/css/custom-theme.css" rel="stylesheet">
    <link href="/publisher/extensions/app/greg-publisher-defaults/themes/default/css/common.css" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/publisher/themes/default/css/font-awesome.min.css">
    <!-- fontwso2 -->
    <link rel="stylesheet" href="/publisher/themes/default/css/fontwso2.css">
    <link rel="stylesheet" href="/publisher/themes/default/css/fontwso2-extend.css">

    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>

    <link rel="stylesheet" href="/publisher/themes/default/css/style.css">

    <link rel="stylesheet" type="text/css" href="/publisher/themes/default/css/server-table.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/publisher/themes/default/js/html5shiv.min.js"></script>
    <script src="/publisher/themes/default/js/respond.min.js"></script>
    <![endif]-->
    <title>{{t "WSO2 Governance Center - Publisher | WSO2 Enterprise Store back-office"}}</title>

</head>

<body>
<div class="wrapper">
    <div class="container-fluid">
        <!-- header -->
        <header>
            <div class="row wr-global-header">
                <div class="col-xs-8 col-sm-6 col-lg-8 app-logo">
                    <a href="/publisher/">
                        <img src="/publisher/themes/default/img/logo.png"/>

                        <h2 class="app-title">{{t "Governance Center - Publisher"}}</h2>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-6 col-lg-4 wr-auth-container">
                    <div class="wr-auth pull-right">
                        <a href="#" data-toggle="dropdown">
                            <div class="auth-img">
                                {{listassets.0.context.cuser.username}}
                           <span class="fw-stack-md fw-lg">
                           <i class="fw fw-user fw-stack-1-5x"></i>
                           </span>
                            </div>
                        </a>

                        <div class="dropdown-menu">
                            <div class="cu-arrow"></div>
                            <div class="dropdown-menu-content">
                                <a class="filter-item" onclick="window.location.href='/publisher/logout'">
                                    {{t "Sign out"}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /header -->
    </div>

    <div class="container-fluid wr-main-content">
        <h1>{{t "Add New Encrypted Property"}}</h1><br>
        <div class="content-div">

            <div class="row-fluid">
                <div class="span12 asset-view-container">
                    <div class="widget wlightblue">
                        <div class="widget-content">
                            <form name="valform" method="POST" onsubmit="return validate();" class="form-horizontal">

                                <div class="form-group">
                                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">{{t "Property Name"}} <span class="required">*</span></label>
                                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" name="key" id="key" value="" required />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">{{t "Password"}} <span class="required">*</span></label>
                                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                                        <input type="password" class="form-control" name="value" id="value" value="" required />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">{{t "Re-enter Password"}} <span class="required">*</span></label>
                                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                                        <input type="password" class="form-control" name="valueVerify" id="valueVerify" value="" required />
                                    </div>
                                </div>

                                <div id="saveButtonsURL" class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input type="submit" value="Submit" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div>
                {{#with  listassets.[0].context}}
                    {{validate}}
                {{/with}}
            </div>

            <div class="row-fluid">
                <table class="table table-striped">
                    <tr>
                        <th>{{t "Property Name"}}</th>
                        <th></th>
                    </tr>
                    {{#with  listassets.[0].context}}
                        {{#each passwords}}
                            <tr>
                                <td>
                                    <label id="{{this.key}}" >{{this.key}}</label>
                                </td>
                                <td>
                                    <a href="javascript:populate('{{this.key}}')" class="cu-btn-inner">
                                        <span class="fw-stack">
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                            <i class="fw fw-edit fw-stack-1x"></i>
                                        </span> Edit
                                    </a>
                                </td>
                            </tr>
                        {{/each}}
                    {{/with}}
                </table>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <p>
        Governance Center | &copy;
        <script>document.write(new Date().getFullYear());</script>
        <a href="http://wso2.com/" target="_blank"><i class="fw fw-wso2"></i> Inc</a>. All Rights Reserved.
    </p>
</footer>
<!-- /footer -->

<script src="/publisher/themes/default/js/jquery-1.10.2.min.js"></script>
<script src="/publisher/themes/default/js/bootstrap.min.js"></script>
<script src="{{url "/themes/default/js/publisher.commons.js"}}"></script>
<script src="{{url "/themes/default/js/handlebars.js"}}"></script>
<script src="{{url "/themes/default/js/caramel.handlebars.client.js"}}"></script>
<script src="/publisher/extensions/app/greg_publisher/themes/default/js/validate.js"></script>

{{js}}
{{code}}
<script type="text/javascript">
    $(document).ready(function () {
        $("[data-toggle=popover]").popover();

        $(".ctrl-asset-type-switcher").popover({
            html: true,
            content: function () {
                return $('#content-asset-types').html();
            }
        });

        $('#nav').affix({
            offset: {
                top: $('header').height()
            }
        });

    });

    $(function () {
        $('#pageTab a:first').addClass('active');
        $('#pageTab a:first').tab('show');
    })

</script>
</body>
</html>
