<div class='content-div'>
	<div class="row-fluid">
		<div class="span12 asset-view-container" >
			<div id='msg-container-recent-activity'></div>
			<div class="widget wlightblue">
				<div class="widget-head">
					<div class="pull-left">
						Edit Asset - {{{snoop "fields(name=overview_name).value" this.data}}}
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="widget-content">
					<form class="form-horizontal" id='form-asset-edit' data-asset-id='{{this.artifact.id}}'
                          data-asset-type='{{this.artifact.type}}'
                          data-use-plugins="FormMetaReader,UnboundDataCompiler">
                        <div class="accordion" id="Basic Information">
                            <div class="accordion-group">
                                <div class="accordion-heading"  style="height:45px;background:#C0C0C0;" href="#collapseBasic">
                                    <div style="float:right;">
                                        <a style="text-transform:capitalize;font-weight:bold;">Basic Information</a>
                                        <a class="accordion-toggle" style="display: inline-block;" id="toggle-{{this.tableNameText}}" name="toggle-{{this.tableNameText}}" data-action="" data-toggle="collapse" href="#collapseBasic"><i class="icon icon-double-angle-down icon-2x"></i>
                                        </a>
                                    </div>
                                </div>
                                <div id="collapseBasic" class="accordion-body collapse" id="accordion-inner">
                                    <div class="accordion-inner">
                                        <p>{{this.tableName}}</p>
                                        <div class="control-group" style="display:none">
                                            <b>
                                                <label class="control-label">Provider:</label>
                                            </b>
                                            <div class="controls">
                                                <input id="basic_provider" type="text" value="test" class="fm-managed" data-use-plugins="TextFieldValueExtractor"/>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <b>
                                                <label class="control-label">Name:</label>
                                            </b>
                                            <div class="controls">
                                                <input id="basic_name" name="basic_name" readonly type="text" value='{{{snoop "fields(name=overview_name).value" this.data}}}' class="fm-managed" data-use-plugins="TextFieldValueExtractor"/>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <b>
                                                <label class="control-label">URL:</label>
                                            </b>
                                            <div class="controls">
                                                <input id="basic_url" name="basic_url" type="text" value='' class="fm-managed" data-use-plugins="TextFieldValueExtractor"/>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <b>
                                                <label class="control-label">Archive Path:</label>
                                            </b>
                                            <div class="controls">
                                                <div class="span8">
                                                    <div class="tbl-upload">
                                                        <div class="tbl-upload-row">
                                                            <div class="tbl-upload-cell">
                                                                <input type="text" class="txt-filepath" disabled="true"/>
                                                            </div>
                                                            <div class="tbl-upload-cell">
                                                                <button class="btn btn-upload">Browse</button>
                                                                <input id='basic_filepath' type='file' name='basic_filepath'/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <b>
                                                <label class="control-label">Description:</label>
                                            </b>
                                            <div class="controls">
                                                <textarea id="basic_description" name="basic_description" class="fm-managed" data-use-plugins="TextFieldValueExtractor">{{{snoop "fields(name=overview_description).value" this.data}}}</textarea>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion" id="Advance1">
                            <div class="accordion-group">
                                <div class="accordion-heading"  style="height:45px;background:#C0C0C0;" href="#collapseAdvance">
                                    <div style="float:right;">
                                        <a style="text-transform:capitalize;font-weight:bold;">Advanced Configuration</a>
                                        <a class="accordion-toggle" style="display: inline-block;" id="toggle-Advance" name="toggle-Advance" data-action="" data-toggle="collapse" href="#collapseAdvance"><i class="icon icon-double-angle-down icon-2x"></i>
                                        </a>
                                    </div>
                                </div>
                                <div id="collapseAdvance" class="accordion-body collapse" id="accordion-inner">
                                    <div class="accordion-inner">
                                        <p>{{this.tableName}}</p>
                                        <div class="control-group">
                                            <b>
                                                <label class="control-label">Namespace:</label>
                                            </b>
                                            <div class="controls">
                                                <input id='advance_namespace' name='advance_namespace' type='text' value='{{{snoop "fields(name=overview_namespace).value" this.data}}}'  class="span8 fm-managed" data-use-plugins="TextFieldValueExtractor"   required/>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <b>
                                                <label class="control-label">Version:</label>
                                            </b>
                                            <div class="controls">
                                                <input id='advance_version' name='advance_version' type='text' value='{{{snoop "fields(name=overview_version).value" this.data}}}'  class="span8 fm-managed" data-use-plugins="TextFieldValueExtractor"   required/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion" id="Contact1">
                            <div class="accordion-group">
                                <div class="accordion-heading"  style="height:45px;background:#C0C0C0;" href="#collapseContact1">
                                    <div style="float:right;">
                                        <a style="text-transform:capitalize;font-weight:bold;">Contact Information</a>
                                        <a class="accordion-toggle" style="display: inline-block;" id="toggle-Contact" name="toggle-Contact" data-action="" data-toggle="collapse" href="#collapseContact1"><i class="icon icon-double-angle-down icon-2x"></i>
                                        </a>
                                    </div>
                                </div>
                                <div id="collapseContact1" class="accordion-body collapse" id="accordion-inner">
                                    <div class="accordion-inner">
                                        <p>{{this.tableName}}</p>
                                        <div class="control-group">
                                            <b>
                                                <label class="control-label">Contact:</label>
                                            </b>
                                            <div class="controls">
                                                <div id="contacts_contact" name='contacts_contact' class="options-text fm-managed" data-add-button="Add Contact" data-selected='{{{snoop "fields(name=contacts_contact).value" this.data}}}' data-options='{{{snoop "fields(name=contacts_contact).valueList" this.data}}}' data-use-plugins="OptionsText" ></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion" id="Docs">
                            <div class="accordion-group">
                                <div class="accordion-heading"  style="height:45px;background:#C0C0C0;" href="#collapseContact1">
                                    <div style="float:right;">
                                        <a style="text-transform:capitalize;font-weight:bold;">Documentation</a>
                                        <a class="accordion-toggle" style="display: inline-block;" id="toggle-Docs" name="toggle-Docs" data-action="" data-toggle="collapse" href="#collapseDocs"><i class="icon icon-double-angle-down icon-2x"></i>
                                        </a>
                                    </div>
                                </div>
                                <div id="collapseDocs" class="accordion-body collapse" id="accordion-inner">
                                    <div class="accordion-inner">
                                        <p>{{this.tableName}}</p>
                                        <div class="control-group">
                                            <b>
                                                <label class="control-label">Docs:</label>
                                            </b>
                                            <div class="controls">
                                                {{>unbound-table this.data.fields.[19]}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion" id="Endpoint">
                            <div class="accordion-group">
                                <div class="accordion-heading"  style="height:45px;background:#C0C0C0;" href="#collapseEndpoint">
                                    <div style="float:right;">
                                        <a style="text-transform:capitalize;font-weight:bold;">Endpoint</a>
                                        <a class="accordion-toggle" style="display: inline-block;" id="toggle-Endpoint" name="toggle-Endpoint" data-action="" data-toggle="collapse" href="#collapseEndpoint"><i class="icon icon-double-angle-down icon-2x"></i>
                                        </a>
                                    </div>
                                </div>
                                <div id="collapseEndpoint" class="accordion-body collapse" id="accordion-inner">
                                    <div class="accordion-inner">
                                        <p>{{this.tableName}}</p>
                                        <div class="control-group">
                                            <b>
                                                <label class="control-label">Endpoint:</label>
                                            </b>
                                            <div class="controls">
						<div id="endpoints_endpoint" name='endpoints_endpoint' class="options-text fm-managed" data-add-button="Add Endpoint" data-selected='{{{snoop "fields(name=endpoints_endpoint).value" this.data}}}' data-options='{{{snoop "fields(name=endpoints_endpoint).valueList" this.data}}}' data-use-plugins="OptionsText" ></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

						<div id="saveButtons" class="form-actions">
                            <input type="button" value="Update" class="btn btn-primary"
                                   name="editAssetButton" id="editAssetButton">
                            <input type="reset" value="Reset" class="btn">
                            <input type="hidden" value="{{shortName}}" name="{{shortName}}" id="meta-asset-type">
                        </div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>

