<div class="sidebar-nav">
        <ul class="nav nav-list ">
            <li class="active prominent-link"><a href="/publisher/">{{t "Browse All"}}</a></li>
            <!--<li class="active prominent-link"><a href="#">Add</a></li>-->
            <div id="dl-menu" class="dl-menuwrapper">
                <ul class="dl-menu dl-menuopen">
                    <li>
                        <a href="#">{{t "Categories"}}</a>
                        <ul class="dl-submenu">
                            <li><a href="#"><i class="icon-coffee"></i>{{t "Java"}}</a></li>
                            <li><a href="#"><i></i>{{t "Maven"}}</a></li>
                            <li><a href="#"><i class="icon-coffee"></i>{{t "Javascript"}}</a></li>
                            <li><a href="#"><i></i>{{t "SOA"}}</a></li>
                            <li><a href="#"><i class="icon-gamepad"></i>{{t "Games"}}</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="icon-dashboard"></i>{{t "Statistics"}}</a></li>
                    <li><a href="#"><i class="icon-gift"></i>{{t "Wishlist"}}</a></li>
                </ul>
            </div>
        </ul>
    </div>
